ul{
  list-style-type: none;
  padding:0;
}
li{
  padding:2px;
}

nav a{
  text-decoration: none;
  color: #000;
}

nav a:link{color:#f00;}
nav a:visited{}
nav a:hover{color:#f00;}
nav a:active{color:#f00;}

#page_home #btn_home #btn_about #btn_contact
